<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837618078848-2bk0s8fphd2dqovogqmgmtl9i93qjapu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837618078848-2bk0s8fphd2dqovogqmgmtl9i93qjapu</string>
	<key>API_KEY</key>
	<string>AIzaSyDvNrg1bz9EGNDq6XPqJETnb44C69-aEkA</string>
	<key>GCM_SENDER_ID</key>
	<string>837618078848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled1</string>
	<key>PROJECT_ID</key>
	<string>pcdpr-3930e</string>
	<key>STORAGE_BUCKET</key>
	<string>pcdpr-3930e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837618078848:ios:3d8ba3904b585bbb118265</string>
</dict>
</plist>